/*
    \file day.css
    \brief css rules for the "Day" theme

    This file is a part of x1 project.
    https://x2f.herokuapp.com/x2

    (c) 2015 anatoliDolguikh, dolguikh@outlook.com
    See License.txt for licensing information.
*/

body       { background: White; }
header     { background: #FFFDFD; }
#sidebar   { background: transparent; }
article    { background: transparent; }
footer     { background: transparent; }
table, td, th { border: 2px solid #DDDDDD ; }
.postleft  { background: linear-gradient(to right, #FFF8F8, White); }
.postright { background: linear-gradient(to left, #FFF8F8, White); }
.page      { background: linear-gradient(to left, #FFF8F8, White); }
a, a:visited, button.link-button { color: #5003ff; }
a:hover, a:focus, a:active       { color:OrangeRed; }

