/*
    \file style.css
    \brief common css rules

    This file is a part of x1 project.
    https://x2f.herokuapp.com/x2

    (c) 2015 anatoliDolguikh, dolguikh@outlook.com
    See License.txt for licensing information.
*/

  * {
    margin: 0;
    font-family: /* Arial, Helvetica, sans-serif;*/ Verdana, Geneva, sans-serif;
  }

  code, pre { font-family: "Lucida Console", "Ubuntu Mono", monospace; font-size: 110%; }

  header, nav, section, main, article, aside, footer { display: block; }

  body { width: 100%; background: LightYellow; display: block; }

  header { font-weight: bold; }

  #logo { z-index: 1; float: right; margin: 0 0 -32px -16px; }

  #login { float: right; }

  header {
    min-width: 240px;
    min-height: 30px;
    background: NavajoWhite;
    padding: 0 1%;
    color: DarkBlue;
  }

  #notifications { padding: 0 0.5%; }
  #notifications a { color: Fuchsia; }

  #wrapper { margin: 0 auto; min-height: 100%; padding: 1px 0; }

  #sidebar {
    background: Moccasin;
    padding-left: 0.8%;
    overflow: hidden;
    margin-bottom: 1px;
  }
  .menuSideBar#sidebar {
    float: left;
    width: 11.3%;
    padding-top: 0.5em;
    padding-bottom: 1em;
  }

  #sidebar a { padding: 0 0.3em; }
  #sidebar a.menuSideBar { display: block; padding: 0; }

  #main { padding: 0 0.1% 0 0.5%; }
  .menuSideBar#main { margin: 0 0 0 12%; }

  article { background: Bisque; }

  footer {
    min-width: 240px;
    height: 40px;
    background: NavajoWhite;
    padding: 0 1%;
    color: DarkBlue;
  }

  a { font-size: 110%; color: blue; text-decoration: none; }
  a:visited { color: MediumBlue; text-decoration: none; }
  a:hover, a:focus { color:OrangeRed; text-decoration: underline; }
  a:active { color: red; text-decoration: underline; }
  button.link-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 110%;
    font-family: Sans;
    font-weight: bold;
    color: blue;
    text-decoration: none;
  }
  button.link-button:hover, button.link-button:focus {
    color: OrangeRed;
    text-decoration: underline;
  }
  .inbrackets { quotes: "[" "]"; }
  .inbrackets:before { content: open-quote; }
  .inbrackets:after { content: close-quote; }

  table, td, th {
    border: 2px solid Violet;
    background: inherit;
    border-collapse: collapse;
  }
  td, th { padding: 0 0.3em; }
  table.withoutBorder, table.withoutBorder td, table.withoutBorder th { border: 0; }

  .partdiv, .topicdiv, .postdiv {
    table-layout: fixed;
    padding: 0 0.4%;
    display: table;
    width: 99.2%; max-width: 99.2%;
    border-bottom: 1px solid gray;
  }

  .partleft, .topicleft { display: table-cell; width: 65%; }

  .partright, .topicright {
    display: table-cell;
    border-left: 1px solid gray;
    padding: 0 0.3%;
  }

  .postleft {
    display: table-cell;
    width: 14%;
    background: linear-gradient(to right, Bisque, White);
  }

  .postright {
    display: table-cell;
    border-left: 1px solid gray;
    padding: 0 0.3%;
    background: linear-gradient(to left, Bisque, White);
  }

  .page {
    padding: 0 0.3%;
    background: linear-gradient(to left, Bisque, White);
  }
  .pageLeft, .pageRight {
    width: 74%;
    float: left;
    padding: 0 1%;
    box-sizing: border-box;
  }
  .pageRight {
    width: 26%;
    border-left: 1px solid Gray;
  }

  .postBody {
    padding: 0.2em 0;
    border-bottom: 1px solid LightGray;
  }
  .postAuthor   { padding: 0.1em; }
  .postTitle    { padding: 0.2em }
  .postAbstract { padding: 0.2em }
  .postContent  { padding: 0.2em; overflow: auto; }
  .postTime     { padding: 0.1em; }

  .error { color: red; font-size: 130%; }

  .x1bbcodequote {
    width: 80%;
    background: Gainsboro;
    font-size: 90%;
    padding: 0.4%;
    border-left: 3px solid Grey;
    border-right: 3px solid Grey;
  }

  .x1bbcodespoilersummary {
    cursor: pointer;
    font-size: 110%;
    padding: 1px 0.3em;
    border-left: 2px dotted Blue;
  }

  :disabled { background: LemonChiffon; color: black; }

  input[type=checkbox] {
    /* All browsers except webkit*/
    transform: scale(1.5);
    /* Webkit browsers*/
    -webkit-transform: scale(1.5);
  }

/* Для отображения на устройствах меньше 980px */

  @media screen and ( max-width: 599px ) {
    .menuSideBar#sidebar {
      float: none;
      width: auto;
      padding-top: 0;
      padding-bottom: 0;
    }
    .menuSideBar#main { margin: 0; }
    #sidebar a.menuSideBar { display: inline; padding: 0 0.3em; }

    .postdiv { display: block; border-bottom: 2px solid gray; }
    .postleft { display: block; width: auto; border-bottom: 1px dotted gray; }
    .postright { display: block; border-left: none; }
    .pageLeft, .pageRight { width: 100%; border-left: none; }
  }

  @media screen and (min-width:240px) and (max-width:479px) {

  }

  @media screen and (min-width:480px) and (max-width:799px) {

  }

  @media screen and (min-width:800px) and (max-width:979px) {

  }

